* {
    box-sizing: border-box;
      }
   body {
      font-family: 'Times New Roman';
      padding: 0px;
      background: rgb(235, 119, 119);
     }
     
   
   
   
   .nav2 form .bar{
       height: 25px;
       width: 300px;
   }
   .nav2 form .button{
       height: 30px;
       background-color: transparent;
       box-shadow: 0 0 1px white;
       color: white;
   }
   .nav2 form .button:hover{
       box-shadow: 0 0 5px white;
   }
   
   
   .header {
     padding: 10px;
     text-align: center;
     background: white;
     color: rgb(221, 54, 54);
     font-family: 'Times New Roman'; 
   }  
   .header h1 {
     font-size: 50px;
   
   }
   
   .header p {
     font-size: 20px;
     }
   
   .header>img {
    width: 190px;
    height: 170px;
   }
    .menu ul, .dropdownmenu li {
     margin: 0;
     padding: 0;
   
    
   }
   .menu ul {
     background: gray;
     list-style: none;
     
   }
   .menu li {
     float: left;
     position: relative;
    width:auto;
   
   }
   .menu a {
     background: rgb(241, 102, 102);
     color: #FFFFFF;
     display: block;
     font: bold 12px/20px sans-serif;
     padding: 10px 25px;
     text-align: center;
     text-decoration: none;
   
   
     
   }
   
   .menu li:hover a {
   background-color: rgb(235, 80, 80);
   color:rgb(3, 3, 3);
   }    
   #submenu {
     left: 0;
     opacity: 0;
     position: absolute;
     top: 35px;
     visibility: hidden;
     z-index: 1;
   }
   li:hover ul#submenu {
     opacity: 1;
     top: 40px;	
     visibility: visible;
   }
   #submenu li {
     float: none;
     width: 100%;
   }
   #submenu a:hover {
     background: rgb(235, 80, 80);
   }
   #submenu a {
     background-color:#000000;
   }
   
   
   
   .banner img {
    width: 1425px;
    height: auto;
    
   }

   footer {
    margin-top: 10px;
       padding: 10px;
       background-color: rgb(241, 111, 111);
       text-align: center;
       
    }
 .about {
       width: 400px;
       float:left;
     
       } 
       .about #trai{
          width: 70px;
          height:38px ;
          margin-top: 15px;
          margin-right: 20px;
          float: center;
          }
          .about #phai{
            width: 250px;
            color: rgb(235, 235, 241);
            float: left ;
            }
            .link {
      width: 300px;
      float: left;
     }
    
     .link a{
       display: block;
       text-decoration: none;
       color: rgb(10, 10, 10);
       margin: 5px 0;
       font-family: 'Times New Roman';
       }
       @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
* {box-sizing: border-box}
body{
  font-family: 'Noto Sans JP', sans-serif;
}
h1, label{ 
  color: rgb(206, 54, 54);;
}

  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  width:100%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.2);
}

input[type=text]:focus, input[type=password]:focus {
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


button {
  background-color: rgb(245, 79, 79);;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}


.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}


.signupbtn {
  float: left;
  width: 100%;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.2);
}


.container {
  padding: 16px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



